body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.wrap{
    max-width: 1110px;
    margin: 0 auto;
}
.topBar{
    border-bottom: 40px solid #000000;
    margin-bottom: $spacer-sm;
    .wrap{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include rwd(1110px) {
            padding: 0 15px;
        }
    }
    a{
        display: block;
        text-decoration: none;
        color: #000000;
        font-size:  1.25rem;
        &:hover{
            color: $medium-purple;
            transform: scale(1.05);
        }
    }
    &-menu{
        display: flex;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        &.openMenu {
            max-height: 300px;
        }
        a{
            padding: 36px 24px;
            background-color: #FFFFFF;
            &:hover{
                transform: scale(1);
            }
        }
        li:last-child{
            a{
                padding-right: 0;
            }
        }
        @include mobile() {
            position: absolute;
            top: 61px;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 10;
            max-height: 0;
            overflow: hidden;
            transition: all .2s;
            li{
                width: 100%;
            }
            a {
                text-align: center;
                padding: 15px;
                font-size:  1rem;
                &:hover{
                    background-color: $medium-purple;
                    color: #FFFFFF;
                }
            }
            li:last-child{
                a{
                    padding: 15px;
                }
            }
        }
    }
}

.menuToggle {
    display: none;
    cursor: pointer;
    &:hover{
        color: $light-purple;
    }
    @include mobile() {
        display: block;
        font-size: 2rem;
        padding: 15px;
    }
}
.logo{
    padding: 36px 0;
    font-size: 1.5rem;
    @include mobile() {
        padding: 15px;
    }
}
.banner{
    position: relative;
    background-image: url('https://i.imgur.com/3ewLAKn.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 420px;
    margin-bottom: $spacer-md;
    &-text{
        position: absolute;
        color: #FFFFFF;
        font-size: 2rem;
        left: 50px;
        bottom: 50px;
        font-weight: normal;
    }
}
.section-title{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: $spacer-sm;
}
.bedAdvantage{
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer-md;
    &-img{
        max-height: 140px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    &-text{
        text-align: center;
        font-size: 1.25rem;
    }
}
.furniture-compare{
    background-color: #F8F8F8;
    padding: 50px 0 $spacer-md 0;
    @include mobile() {
        padding: 50px 15px $spacer-md;
    }
}
.overflowWrap{
    @include mobile() {
        overflow-x: scroll;
    }
}
.compare-table{
    width: 65%;
    margin: 0 auto;
    th, td{
        text-align: center;
        padding: 15px 0;
    }
    th{
        font-size: 1.25rem;
    }
    tr{
        border-bottom: 1px solid $border-gray;
        td:first-child{
            text-align: left;
            font-size: 1.25rem;
        }
    }
    .material-icons{
        color: $light-purple;
        transform: scale(1.5);
    }
    @include mobile() {
        width: 500px;
        th, td{
            padding: 10px 0;
        }
        th{
            font-size: 1rem;
        }
        tr{
            td:first-child{
                font-size: 1rem;
            }
        }
    }
}
.text-muted{
    color: $text-gray;
}
.recommendation{
    background-color: $dark-purple;
    padding: $spacer-md 0;
    h3{
        color: #FFFFFF;
    }
    @include mobile() {
        padding: $spacer-md 15px;
    }
    &-wall{
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.gallery{
    &-top, &-bottom{
        display: flex;
    }
    &-top{
        margin-left: 95px;
        margin-bottom: 20px;
    }
}
.recommendation-card{
    display: flex;
    margin-left: $spacer-sm;
    min-width: 350px;
    background-color: #FFFFFF;
    img{
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}
.recommend{
    &-content{
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-img{
        display: flex;
        align-items: center;
        margin-bottom: 3px;
        img{
            width: 40px;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
    &-text{
        font-size: 0.875rem;
        color: $medium-purple;
    }
}
.transport{
    padding: $spacer-sm 0;
    @include mobile() {
        li {
            margin-bottom: 20px;
        }
    }
    &-intro{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
        @include mobile() {
            flex-direction: column;
        }
        li:nth-child(1), li:nth-child(2),li:nth-child(3){
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 49px;
                right: -55px;
                border: 10px solid #000000;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent; 
                border-bottom: 10px solid transparent;
                @include mobile() {
                    position: static;
                    margin-top: 25px;
                    border: 10px solid #000000;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent; 
                    border-bottom: 10px solid transparent; 
                }
            }
        }
    }
    &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .cardImg{
            width: 115px;
            height: 115px;
            border: 3px solid #000000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }
        .material-icons{
            font-size: 50px;
        }
        h4{
            font-size: 1.25rem;
            font-weight: bold;
        }
        @include mobile() {
            .cardImg{
                width: 150px;
                height: 150px;
            }
        }
    }
}
.productDisplay{
    padding: $spacer-sm 15px;
}
.productSelect{
    border: 1px solid $border-gray;
    color: $text-gray;
    min-height: 38px;
    min-width: 255px;
    border-radius: 5px;
    text-indent: 10px;
    margin-bottom: $spacer-sm;
}
.productWrap{
    display: flex;
    flex-wrap: wrap;
}
.productCard{
    position: relative;
    margin-right: 2%;
    width: 23%;
    margin-bottom: $spacer-sm;
    img{
        min-height: 300px;
        width: 100%;
        object-fit: cover;
    }
    a{
        display: block;
        background-color: #000000;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
        border: none;
        margin-bottom: 8px;
        text-decoration: none;
        &:hover{
            background-color: $dark-purple;
        }
    }
    a, h3{
        font-size: 1.25rem;
    }
    @include rwd(900px) {
        width: 48%;
    }
    @include rwd(540px) {
        width: 100%;
    }

}
.productType{
    position: absolute;
    top: 13px;
    right: -5px;
    background-color: #000000;
    color: #ffffff;
    padding: 8px 24px;
}
.originPrice{
    // text-decoration: line-through;
    font-size: 1.25rem;
}
.nowPrice{
    font-size: 1.75rem;
}
.shoppingCart{
    background-color: $bg-gray;
    padding: $spacer-md 0;
    &-table{
        margin: 0 auto;
        border-collapse: collapse;
        font-size: 1.25rem;
        th, td{
            padding: 15px;
            vertical-align: middle;
        }
        th{
            text-align: left;
        }
        tr{
            border-bottom: 1px solid $border-gray;
            &:first-child, &:last-child{
                border-bottom: 0;
            }
        }
        @include mobile() {
            width: 700px;
        }
    }
}
.cardItem-title{
    display: flex;
    align-items: center;
    img{
        margin-right: 15px;
        max-width: 80px;
    }
}
.discardBtn{
    text-align: right;
    a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        font-size: 2rem;
        color: #000000;
        &:hover{
            color: $medium-purple;
            transform: scale(1.3);
        }
    }
}
.discardAllBtn{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    color: #000000;
    border: 1.3px solid #000000;
    border-radius: 5px;
    font-size: 1.25rem;
    &:hover{
        background-color: #000000;
        color: #FFFFFF;
    }
}
.orderInfo{
    padding: $spacer-md 0;
    &-form{
        padding: 0 15px;
    }
    &-formGroup{
        max-width: 365px;
        margin: 0 auto 15px;
    }
    &-label{
        display: block;
        margin-bottom: 6px;
    }
    &-input{
        width: 100%;
        min-height: 38px;
        border: 1px solid #CED4DA;
        border-radius: 5px;
        text-indent: 1rem;
        margin-right: 10px;
    }  
    &-inputWrap{
        position: relative;
    }
    &-message {
        position: absolute;
        white-space: nowrap;
        left: 103%;
        top: 50%;
        transform: translateY(-50%);
        color: $alert-red;
        @include mobile() {
            position: static;
            transform: translateY(0);
        }
    }
    &-btn {
        display: block;
        min-width: 255px;
        min-height: 48px;
        background-color: #000000;
        color: #FFFFFF;
        border: 0;
        cursor: pointer;
        font-size: 1.25rem;
        margin: 50px auto 0;
        border-radius: 5px;
        &:hover{
            background-color: $dark-purple;
        }
    }
}