.orderPage {
    &-list{
        padding: $spacer-md 10px;
        display: flex;
        flex-direction: column;
        .discardAllBtn{
            align-self: flex-end;
            margin-bottom: 12px;
        }
    }
    &-table{
        border: 1px solid #000000;
        width: 100%;
        th, td{
            padding: 10px;
            text-align: left;
            border: 1px solid #000000;
        }
        @include rwd(1110px) {
            width: 1100px;
        }
    }
}
.delSingleOrder-Btn{
    display: block;
    background-color: #C44021;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.orderStatus{
    position: relative;
    a{
        position: absolute;
        padding: 10px;
        top:0;
        bottom:0;
        right:0;
        left:0;
        display: block;
        text-decoration: none;
        color: #FFFFFF;
    }
    &-unDone{
        background-color: $orderStatus;
        &:hover{
            background-color: #000000;
        }
    }
    &-done{
        background-color: #000000;
        &:hover{
            background-color: $orderStatus;
        }
    }
}
.orderTableWrap{
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}