$spacer-sm: 30px;
$spacer-md: 60px;
//
$dark-purple: #301E5F;
$medium-purple: #6A33F8;
$light-purple: #6A33FF;
$alert-red: #C72424;
$bg-gray: #F8F8F8;
$border-gray: #B9B9B9;
$text-gray: #797979;
$orderStatus: #747474;